#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.Scroll{
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #1ac94c;
}